@import url('https://fonts.googleapis.com/css?family=Inconsolata');

body {
    font-family: 'Inconsolata', sans-serif;
}


h5,
h3 {
    font-weight: bold;
}

/*----------------------------------header---------------------*/

header {
    background-color: #f0a6c9;
    margin: 0;
    padding: 0;
}

.mainheading {
    color: black;
    text-decoration: none;
    transition: color 0.5s;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -o-transition: color 0.5s;
}

.mainheading:hover {
    text-decoration: none;
    color: #b0cf05;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}

.heading {
    text-align: center;
    margin: 1rem 0 1rem 0;
    text-decoration: none;
}



#nav li {
    font-size: 22px;
    padding: 0;
    margin: 2rem 0 0 0;
    text-align: center;
}

#nav li a {
    color: black;
    text-decoration: none;
    transition: color 0.5s;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -o-transition: color 0.5s;
}

#nav li a:hover {
    color: #b0cf05;
}

/*--------------------------------------------section----------------------*/




.success {
    text-align: center;
    color: whit;
    margin-top:  20px;
}


/*----------------------------------------------footer----------------------*/

footer {
    padding: 0;
    margin: 0;
    background-color: #f0a6c9;
    text-align:center;
}


footer h3{
    margin-top: 20px;
}


.social-links li a i {
    font-size: 30px;
    padding: 20px;
    margin: 20px 20px 0 20px;
    color: black;
    transition: color 0.5s;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -o-transition: color 0.5s;
}


.social-links li a i:hover {
    color: #b0cf05;
}





/*----------------------------the band page-----------------------*/

section {
    padding:0;
    margin:0;
}
.members {
    text-align: center;
    padding:20px;
}


