@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto', sans-serif;
}


h5,
h3 {
    font-weight: bold;
}

/*----------------------------------header---------------------*/

header {
    background-color: rgba(0,0,0,0);
    margin: 0;
    padding-bottom: 30px;
}

.mainheading {
    color: white;
    text-decoration: none;
    transition: color 0.5s;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -o-transition: color 0.5s;
}

.mainheading:hover {
    text-decoration: none;
    color: blue;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer  {
    font-size: 0;
    color: white;
    margin:0;
}

.heading {
    text-align: center;
    margin: 1rem 0;
    text-decoration: none;
}



#nav li {
    font-size: 22px;
    padding: 0;
    margin: 2rem 0 0;
    text-align: center;
}

#nav li a {
    color: white;
    text-decoration: none;
    transition: color 0.5s;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -o-transition: color 0.5s;
}

#nav li a:hover {
    color: blue;
}



/*--------------------------------------------section index.html----------------------*/

.video {
    padding: 90px 0;
}

section {
    padding: 0;
    margin: 0;
    background-image: url(../images/monkees.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
    background-attachment: fixed;
}


.bottom-heading p {
    padding: 30px;
    margin-bottom: 30px;
}

.bottom-heading h5 {
    text-align: center;
}

.bottom-heading {
    margin-top: 60px;
    padding: 60px 0;
    color: white;
}

.bottom-heading a:hover{
    text-decoration: none;
}


@media only screen and (min-width: 360px) {
    .center-block {
        width: 330px;
    }
}

@media only screen and (min-width: 768px) {
    .center-block {
        width: 720px;
    }
}

@media only screen and (min-width: 992px) {
    .center-block {
        width: 960px;
    }
}

@media only screen and (min-width: 1200px) {
    .center-block {
        width: 1140px;
    }
}


/*----------------------------the band.html---------------------*/
.band img {
    border-radius: 50%;
}

.band {
    color: white;
    padding-top: 50px
}

@media( max-width: 400px){
    .band{
        text-align: center;
    }
}

.singer {
    text-align: right;
}



/*----------------------------Gallery----------------------*/

.pic {
    width: 320px;
}



.main-article {
    padding-top: 25px;
    margin-bottom: 45px;
    min-height: 600px;
}

.audio {
    padding: 20px;
    margin-bottom: 20px;
}

.audio li {
    display: inline;
}

.audio-heading {
    text-align: center;
    padding-bottom: 25px;
}

/*----------------------------------contact us -------------------------*/

.detail {
   padding: 30px;
   color: white;
}

.alternative {
    margin-top: 45px;
    padding-top: 45px;
}

.detail a:hover {
    text-decoration: none;
}


/*----------------------------------------------footer----------------------*/

footer {
    color:white;
    padding: 0;
    margin: 0;
    background-color: black;
    text-align: center;
}


footer h3 {
    margin-top: 20px;
}


.social-links li a i {
    font-size: 30px;
    padding: 20px;
    margin: 20px 20px 0 20px;
    color: white;
    transition: color 0.5s;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -o-transition: color 0.5s;
}


.social-links li a i:hover {
    color: blue;
}