@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
}


h5,
h3 {
    font-weight: bold;
}

/*----------------------------------header---------------------*/

header {
    background-color: black;
    position: fixed;
    overflow: hidden;
    top: 0;
    padding-bottom: 30px;
    z-index: 1;
}

.mainheading {
    color: white;
    text-decoration: none;
    transition: color 0.5s;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -o-transition: color 0.5s;
}

.mainheading:hover {
    text-decoration: none;
    color: blue;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer  {
    font-size: 0;
    color: white;
    margin:0;
}

.heading {
    text-align: center;
    margin: 1rem 0;
    text-decoration: none;
}



#nav li {
    font-size: 22px;
    padding: 0;
    margin: 2rem 0 0;
    text-align: center;
}

#nav li a {
    color: white;
    text-decoration: none;
    transition: color 0.5s;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -o-transition: color 0.5s;
}

#nav li a:hover {
    color: blue;
}



/*--------------------------------------------section index.html----------------------*/

.landing-img {
    position: relative;
    margin: 55px 0 0;
    width: 100%;
}

@media (max-width: 767px) {
    .landing {
        height: 520px;
    }
}


@media ( max-width: 767px) {
    .landing-img {
        height: 360px;
        top: 80px;
    }
}

@media ( min-width: 768px) {
    .landing-img {
        top: 20px;
    }
}

article {
    background-color: black;
}

.bottom-heading p {
    padding: 30px;
    margin-top: 20px;
}

.bottom-heading h5 {
    text-align: center;
    margin-top: 20px;
}

.bottom-heading {
    padding: 80px 0;
    color: white;
}

.bottom-heading a:hover{
    text-decoration: none;
}

#my-video {
    position:relative;
    width: 100%;
    height: auto;
    margin-bottom: 0;
}


/*----------------------------the band.html---------------------*/
.band img {
    border-radius: 50%;
}

.band {
    background-color: black;
    color: white;
    padding-top: 50px;
    margin: 0;
}

.member {
    padding: 20px;
}

.singer {
    text-align: right;
}

@media( max-width: 400px){
    .band{
        text-align: center;
    }
}

/*----------------------------Gallery----------------------*/

.pic {
    width: 320px;
}



.main-article {
    padding-top: 25px;
    margin-bottom: 45px;
    min-height: 600px;
}

.audio {
    padding: 20px;
    margin-bottom: 20px;
}

.audio li {
    display: inline;
}

.audio-heading {
    text-align: center;
    padding-bottom: 25px;
}

.carousel-item img {
    height: 280px;
}

/*----------------------------------contact us -------------------------*/

.detail {
   padding: 30px;
   color: white;
}

.alternative {
    margin-top: 45px;
    padding-top: 45px;
}

.detail a:hover {
    text-decoration: none;
}


/*----------------------------------------------footer----------------------*/

footer {
    color:white;
    padding: 0;
    margin: 0;
    background-color: black;
    text-align: center;
}


footer h3 {
    margin-top: 20px;
}


.social-links li a i {
    font-size: 30px;
    padding: 20px;
    margin: 20px 20px 0 20px;
    color: white;
    transition: color 0.5s;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -o-transition: color 0.5s;
}


.social-links li a i:hover {
    color: blue;
}